{% extends "global/global-base.html" %}
{% load static %}

{% block title %}UFT :: Vade Mecum{% endblock %}

{% block page_content %}
    <main class="container mt-5">
        <div class="row">
            <div class="col-8">
                <section class="card rounded-4 p-5">
                    {% include "questions/includes/avatar.html" with person=object.author color="text-primary" %}

                    <div class="mt-4">
                        <div class="editorjs-output">{{object.content|safe}}</div>
                    </div>

                    <form action="">


                    </form>
                </section>
                <form id="csrf-token-form">{% csrf_token %}</form>
                {% for answer in object.answers.all %}
                    {% if answer.is_best_answer %}
                        {% include "answers/includes/best-answer.html" %}
                    {% else %}
                        {% include "answers/includes/answer.html" %}
                    {% endif %}
                    {% empty %}
                    <div class="">
                        <h1 class="text-center text-secondary">Ninguém respondeu :/</h1>
                        <p class="text-center">
                            
                            Seja o primeiro a responder!
                        </p>

                    </div>
                {% endfor %}
            </div>
            <div class="col-4">
                <section class="bg-white border border-2 p-4 rounded-4">
                    <h6 class="text-muted">Responder:</h6>
                    {% include "answers/includes/form-answer.html" %}
                </section>
            </div>
        </div>

        <section class="container mt-5">
            <ul class="row">
                {% for object in object_list %}
                    {% include "questions/includes/questions.html" %}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock page_content %}

{% block static_js_app %}
    <script src="{% static 'answer/javascript/vote-answer.js' %}"></script>
    <script src="{% static 'questions/javascript/init-editor.js' %}"></script>
    <script src="{% static 'questions/javascript/init-render.js' %}"></script>
    <script src="{% static 'answer/javascript/create-answer.js' %}"></script>
{% endblock static_js_app %}
    
{% block static_css_app %}
  
{% endblock static_css_app %}


