{% extends "global/global-base.html" %}
{% load static %}

{% block title %}UFT :: Vade Mecum{% endblock %}

{% block page_content %}
    <main class="container mt-5">
        <div class="row">
            <div class="col-8">
                <section class="card rounded-4 p-5">
                    {% include "questions/includes/avatar.html" with person=object.author color="text-primary" %}

                    <div class="mt-4">
                        <h1>{{object.title}}</h1>
                        <p>{{object.content}}</p>
                    </div>
                </section>
                <form id="csrf-token-form">{% csrf_token %}</form>
                {% for answer in object.answers.all %}
                    {% if answer.is_best_answer %}
                    <section class="card rounded-4 p-5 border border-success border-2">
                        
                        {% include "questions/includes/avatar.html" with person=answer.author color="text-secondary" %}
    
                        <div class="my-4">
                            <h1></h1>
                            <p class="text-base">{{answer.content}}</p>
                        </div>

                        <div>
                            
                            <button 
                                class="btn font-bold d-flex gap-2 rounded-pill btn-secondary vote-btn" 
                                answer-id="{{answer.pk}}" 
                                vote-answer-url="{% url 'api:api-vote-answer' answer_id=answer.id vote_type="Upvote" %}"
                            >
                                <span><i class="fa-solid fa-heart"></i></span>
                                Obrigado
                                {{answer.votes.count}}
                            </button>
                        </div>
                    </section>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-4">
                <section class="bg-secondary rounded-4">
                    <div>
                        <div class="avatar avatar-md2">
                            {% comment %} <img style="object-fit: cover;" src="{{object.author.profile_picture.url}}" alt="Avatar"> {% endcomment %}
                        </div>
                        <div class="text">
                            <h6 class="user-dropdown-name">{{object.author.full_name}}</h6>
                            <p class="user-dropdown-status text-sm text-muted">{{object.author.students_enrolled}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        
        {% comment %} <section class="bg-primary p-5 d-flex align-items-center flex-column">
            <div class="text-center mt-5 container px-5 mx-5">
                <h1 class="text-white">Qual sua duvida?</h1>
                <p class="text-white-70 mt-3 mb-4 mx-5 px-5">No Vade Mecum UFT, sua pergunta encontra a resposta da comunidade. Seja uma dúvida sobre a matéria, uma questão de prova antiga ou um tópico desafiador, digite abaixo e conecte-se com seus colegas.
                </p>
            </div>
            <form action="" class="mb-5">

                <div class="d-flex w-3xl align-items-center bg-white rounded-pill">
                    <input class="ps-5 fs-6 w-100 bg-transparent border-0 outline-0" type="text" name="question" placeholder="Ex: Alguém tem a prova de POO do semestre passado?" style="outline: none;">
                    <div class="py-3 px-3">
                        <button class="border-0 bg-primary rounded-pill d-flex align-items-center justify-content-center" style="width: 3rem; height: 3rem;">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </form>
        </section> {% endcomment %}

        <section class="container mt-5">
            <ul class="row">
                {% for object in object_list %}
                    {% include "questions/includes/questions.html" %}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock page_content %}

{% block static_js_app %}
    <script src="{% static 'answer/javascript/vote-answer.js' %}"></script>
{% endblock static_js_app %}

{% block static_css_app %}
  
{% endblock static_css_app %}