{% extends "global/global-base.html" %}
{% load static %}

{% block title %}UFT :: Vade Mecum{% endblock %}

{% block page_content %}
    <main>
        <section class="bg-primary p-5 d-flex align-items-center flex-column">
            <div class="text-center mt-5 container px-5 mx-5">
                <h1 class="text-white">Qual sua duvida?</h1>
                <p class="text-white-70 mt-3 mb-4 mx-5 px-5">No Vade Mecum UFT, sua pergunta encontra a resposta da comunidade. Seja uma dúvida sobre a matéria, uma questão de prova antiga ou um tópico desafiador, digite abaixo e conecte-se com seus colegas.
                </p>
            </div>
            <form action="" class="mb-5">

                <div class="d-flex w-3xl align-items-center bg-white rounded-pill">
                    <input class="ps-5 fs-6 w-100 bg-transparent border-0 outline-0" type="text" name="q" value="{{request.GET.q}}" placeholder="Ex: Alguém tem a prova de POO do semestre passado?" style="outline: none;">
                    <div class="py-3 px-3">
                        <button class="border-0 bg-primary rounded-pill d-flex align-items-center justify-content-center" style="width: 3rem; height: 3rem;">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </form>
        </section>

        <section class="container mt-5">
            <ul class="row">
                {% for object in object_list %}
                    {% include "questions/includes/questions.html" %}
                {% empty %}
                    <div class="text-center">
                        <h1 class="text-secondary">Nenhuma pergunta foi encontrada</h1>
                    <p>
                        {% if request.GET.q %}
                            Seja o primeiro a perguntar sobre <strong>"{{ request.GET.q }}"</strong>.
                        {% else %}
                            Seja o primeiro a fazer uma pergunta!
                        {% endif %}
                    </p>
                    </div>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock page_content %}

{% block static_js_app %}
   
{% endblock static_js_app %}

{% block static_css_app %}
  
{% endblock static_css_app %}