<section class="card rounded-4 overflow-hidden border border-2">
    <div class="p-5">
        {% include "questions/includes/avatar.html" with person=answer.author color="text-secondary" %}

    <div class="my-4">
        <h1></h1>
        <p class="text-base">{{answer.content}}</p>
    </div>

    <div>
        
        <button 
            class="btn font-bold d-flex gap-2 rounded-pill btn-secondary vote-btn" 
            answer-id="{{answer.pk}}" 
            vote-answer-url="{% url 'api:api-vote-answer' answer_id=answer.id vote_type="Upvote" %}"
        >
            <span><i class="fa-solid fa-heart"></i></span>
            Obrigado
            {{answer.votes.count}}
        </button>
    </div>
    </div>
</section>